<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SQLServer" connectionString="data source=ZCON-73\MSSQLSERVER2008;Initial Catalog=SalesEmails;User ID=sa;pwd=zcon@123; Connection Timeout=2000; Pooling=false" providerName="System.Data.SqlClient" />
    <add name="ServerName" connectionString="secure.emailsrvr.com" />
    <add name="PortNo" connectionString="993" />   
    <add name="FilePath" connectionString="D:\\SalesEmailsProcessing\\Report.xls" />   
    <!--<add name="EmailId" connectionString="vijay.sharma@teamzcon.com" />-->
    <add name="EmailId" connectionString="test@teamzcon.com" />
    <add name="EmailPassword" connectionString="Gold@zcpl" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>-->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    
    <defaultDocument>
      <files>
        <clear />
        <add value="GetSentMailsInfo.aspx" />
      </files>
    </defaultDocument>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.5260.16954" newVersion="5.10.5260.16954" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

 
  
</configuration>